<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SharpIRC.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup>
    <userSettings>
        <SharpIRC.Properties.Settings>
            <setting name="Nickname" serializeAs="String">
                <value>Guest</value>
            </setting>
            <setting name="RealName" serializeAs="String">
                <value>Guest Account</value>
            </setting>
            <setting name="Server" serializeAs="String">
                <value>chat.freenode.org</value>
            </setting>
            <setting name="Port" serializeAs="String">
                <value>6667</value>
            </setting>
            <setting name="Channels" serializeAs="String">
                <value>#testingme</value>
            </setting>
            <setting name="NickName2" serializeAs="String">
                <value>Guest101</value>
            </setting>
            <setting name="NickName3" serializeAs="String">
                <value>Guest202</value>
            </setting>
            <setting name="LeaveMessage" serializeAs="String">
                <value>Bye friends!</value>
            </setting>
        </SharpIRC.Properties.Settings>
    </userSettings>
</configuration>
